<form [formGroup]="form">
	<div class="d-flex">
		<div class="form-control">
			<label for="name">Name</label>
			<input id="name" formControlName="name" />
		</div>

		<div class="form-control mx-2">
			<i class="fas fa-hashtag text-primary input-prefix"></i>
			<label for="number">Number Produced per Craft</label>
			<input id="number" type="number" formControlName="number" class="icon-input" />
		</div>

		<div class="form-control">
			<i class="fas fa-shipping-timed text-primary input-prefix"></i>
			<label for="speed">Crafting Speed (in s)</label>
			<input id="speed" type="number" formControlName="speed" class="icon-input" />
		</div>
	</div>

	<p class="ml-2"><i class="fas fa-microchip text-primary mr-4"></i> Components</p>

	<div class="pills">
		<div *ngFor="let component of components" (click)="removeComponent(component)">
			{{component.recipe.name}} x {{component.numberRequired}}
			<i class="fas fa-times"></i>
		</div>
	</div>

	<div class="d-flex components" [class.mt-6]="components.length > 0" formGroupName="newComponent">
		<div class="form-control">
			<label for="component-name">Name</label>
			<input id="component-name" formControlName="name" />
		</div>

		<div class="form-control">
			<label for="component-number">Number</label>
			<input id="component-number" formControlName="number" />

			<button (click)="addComponent();" clstDeselect type="button" class="input-suffix">
				<i class="fas fa-plus-square"></i>
			</button>
		</div>
	</div>

	<div class="d-flex justify-end">
		<button [disabled]="!this.name.valid || !this.number.valid || !this.speed.valid" class="mt-2" (click)="addItem()" type="button">
			<i class="fas fa-plus-octagon"></i>
			<span class="ml-4">Add</span>
		</button>
	</div>
</form>