button {
	padding: $base-unit $base-unit * 2;
	background-color: rgba(0, 0, 0, 0);
	border: solid 2px $primary;
	color: $primary;
	border-radius: $base-unit;
	outline: none;

	&:focus {
		border-width: 4px;
		padding: ($base-unit - 2) (($base-unit * 2) - 2);
	}

	&[disabled] {
		color: $primary-disabled;
		border-color: $primary-disabled;
		cursor: no-drop;
	}

	&.suffix-button {
		border: none;
		padding: 0;
	}
}
