@import "./settings.scss";

@for $i from 1 through 5 {
	h#{$i} {
		color: $primary;

		&.text-secondary {
			color: $secondary;
		}
	}
}

p,
span {
	color: $secondary;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-bg {
	color: $background;
}

.text-bg-2 {
	color: $background-2;
}

.text-disabled {
	color: $primary-disabled;
}

.text-bold {
	font-weight: bold !important;
}
