@import "./settings.scss";

@for $i from 1 through 5 {
	h#{$i} {
		color: $primary;
	}
}

p,
span {
	color: $secondary;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: $primary;
}

.text-disabled {
	color: $primary-disabled;
}

.text-bold {
	font-weight: bold !important;
}
