@import "./settings.scss";

.form-control {
	position: relative;

	label {
		position: absolute;
		background-color: $background-2;
		padding: 0 7px;
		color: $secondary;
		top: -5px;
		left: 11px;
		font-size: $base-unit * 1.5;
	}

	.input-prefix {
		position: absolute;
		top: $base-unit * 2;
		left: $base-unit * 1.75;
	}

	.input-suffix {
		position: absolute;
		top: 0;
		right: 0;
	}

	.input-prefix ~ input {
		padding-left: $base-unit * 5;
		width: $base-unit * 20;
	}

	input,
	select,
	textarea {
		padding: $base-unit * 2;
		background: rgba(0, 0, 0, 0);
		border: 2px solid $primary;
		border-radius: $base-unit;
		outline: none;
		color: $secondary;
		width: $base-unit * 25;

		&:focus {
			border-color: $secondary;
		}

		&.single-number {
			width: 10px;
		}

		&.decimal-number {
			width: 25px;
		}

		&.large-number {
			width: 30px;
		}
	}
}
