@import "./styles/settings.scss";

@import "./styles/borders.scss";
@import "./styles/buttons.scss";
@import "./styles/display.scss";
@import "./styles/flex.scss";
@import "./styles/fonts.scss";
@import "./styles/forms.scss";
@import "./styles/margins.scss";
@import "./styles/padding.scss";

body {
	background-color: $background;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
